---
import Social from './Social.astro';

const platform = 'github';
const platformName = 'joker77z';
---

<footer>
  <p>
    <Social patform="github" username="joker77z" />
    <Social patform="youtube" username="joker77z" />
  </p>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
