---
import BaseLayout from './BaseLayout.astro';

interface Props {
  frontmatter: {
    title: string;
    pubDate: string;
    author: string;
    tags: string[];
  };
}

const { frontmatter } = Astro.props as Props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>Published on: {frontmatter.pubDate.toString().slice(0, 10)}</p>
  <p>Written by {frontmatter.author}</p>
  <p>Tags:</p>
  <ul>
    {
      frontmatter.tags.map(tag => (
        <li>
          <a href={`/tags/${tag}`}>{tag}</a>
        </li>
      ))
    }
  </ul>
  <slot />
</BaseLayout>
